@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin cols {
  background-color: burlywood;
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
