@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-shadow-big {
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
}

@mixin box-shadow-medium {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

@mixin box-shadow-small {
  box-shadow: 0 0.2rem 1.2rem rgba($color-black, 0.2);
}

@mixin text-shadow-small {
  text-shadow: 0 0.6rem 1.4rem rgba($color-black, 0.5);
}

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*

0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
1200px + :      Normal styles for all generic desktops
1800px + :      Big Desktop

*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == compact-desktop {
    @media only screen and (max-width: 88em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
