@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin cols {
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

@mixin box-shadow-big {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
}

@mixin box-shadow-medium {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
}

@mixin box-shadow-small {
  box-shadow: 0 0.2rem 1.2rem rgba($color-black, 0.2);
}

@mixin text-shadow-small {
  text-shadow: 0 0.6rem 1.4rem rgba($color-black, 0.5);
}
