/*
COLORS:

Default Text Color: #777

FONT WEIGHTS
Default: 400

FONT SIZE
Default: 1.6rem

LINE HEIGHT
Default: 1.7

*/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";
