// Standard size of width in practice
.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-medium;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-medium;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: cal(2, 1);
  }

  .col-1-of-3 {
    width: cal(3, 2);
  }

  .col-2-of-3 {
    width: calc(2 * #{cal(3, 2)} + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: cal(4, 3);
  }

  .col-2-of-4 {
    width: calc(2 * #{cal(4, 3)} + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * #{cal(4, 3)} + 2 *#{$gutter-horizontal});
  }
}
