.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform 0.2s ease-out;
    box-shadow: 0 0.8rem 1.6rem rgba($color-black, 0.2);
    position: relative;
    padding: 1.4rem 3.2rem;
    border-radius: 10rem;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-light;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.4s, opacity 0.4s;
  }

  &--anim {
    animation: moveInBottom 0.4s ease-out 0.6s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    display: inline-block;
    padding: 0.3rem;
    transition: all 0.4s;
    outline: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover {
    // color: darken($color-primary-dark, 10%);
    // color: $color-white;
    -webkit-text-stroke: 0.25px;
    text-shadow: 0 0.4rem 0.4rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    text-shadow: 0 0.2rem 0.4rem rgba($color-black, 0.15);
    -webkit-text-stroke: 0;
    transform: translateY(0);
  }
}
