.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;

  @include respond(tab-port) {
    width: 100%;
    transform: none;
    padding: 4rem;
    padding-left: 6rem;
  }

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    border-radius: 50%;

    overflow: hidden;
    transform: translateX(-2.5rem) skewX(12deg);
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-shape-outside: circle(40% at 60% 50%);
      shape-outside: circle(40% at 60% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(tab-port) {
      height: 10rem;
      width: 10rem;
      transform: translateX(-1rem) translateY(-0.5rem);
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-2.5rem) scale(1.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

    @include respond(tab-port) {
      // transform: none;
    }
  }

  &__text {
    transform: skewX(12deg);
    @include respond(tab-port) {
      transform: none;
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-2.5rem) scale(1);
    -webkit-filter: blur(2.5px) brightness(85%);
    filter: blur(2.5px) brightness(85%);
  }
}
